# Rules in this file were initially inferred by Visual Studio IntelliCode from the D:\MyProject\OpenGL\OpenGL_Learn\sample_1_2HelloTriangle-1\ codebase based on best match to current usage at 2023/1/6
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

